<!DOCTYPE html>
<html xlmns:th="http://thymeleaf.org"
	  xlmns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  
<head><title>Consulta Protocolos</title></head>
<body>
<h3 class="text-center text-white pt-5">Gerenciamento de Protocolos</h3>
<div class="container">
	<div id="login-row" class="row justify-content-center align-items-center">
    	<div id="login-column" >
        	<div id="login-box" class="col-md-12">
        	    <h3 class="text-center text-info">Protocolos cadastrados</h3>
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th scope="col">Id</th>
				      <th scope="col">Número</th>
				      <th scope="col">Ano</th>
				      <th scope="col">Solicitante</th>
				      <th scope="col">Descricao</th>
   				      <th scope="col">Ações</th>
				    </tr>
				  </thead>
				  <tbody>
					  <tr th:each="protocolo : ${protocolos}">
					      <td th:text="${protocolo.id}"></td>
					      <td th:text="${protocolo.numero}"></td>
					      <td th:text="${protocolo.ano}"></td>
					      <td th:text="${protocolo.nomeSolicitante}"></td>
					      <td th:text="${protocolo.descricaoProtocolo}"></td>
					      <td></td>
					    </tr>
				  </tbody>
				</table>
				<div class="form-group" style="text-align: center;">
					<a class="btn btn-info btn-md" href="/">Inicio</a>
					<a class="btn btn-info btn-md" href="../protocolo/cadastrar-Protocolo">Cadastrar Novo</a>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>